@import '../../../styles/variables';
@import '../../../styles/mixins';

.about {
  background-color: $grey-light-1;
  padding: 20rem 0 25rem 0;
  margin-top: -10vh;

  @include respond(tab-port) {
    padding: 15rem 0 20rem 0;
  }
}

.row {
  display: flex;
  justify-content: center;
  max-width: 114rem;
  margin: 0 5rem;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.circleImageContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;

  @include respond(tab-port) {
    justify-content: center;
    margin-bottom: 5rem;
    margin-right: 0;
  }
}
