@import '../../../styles/variables';
@import '../../../styles/mixins';

.about {
  color: $grey-light-2;
  background-color: $grey-dark-1;
  padding: 18rem 0 19rem 0;

  @include respond(tab-port) {
    padding: 15rem 0 16rem 0;
  }

  @include respond(phone) {
    padding: 10rem 0 11rem 0;
  }
}

.content {
  display: flex;
  justify-content: center;
}

.row {
  display: flex;
  justify-content: center;
  max-width: 114rem;
  margin: 0 5rem;

  @include respond(tab-port) {
    flex-direction: column;
  }
}

.circleImageContainer {
  display: flex;
  justify-content: flex-end;
  margin-right: 5rem;

  @include respond(tab-port) {
    justify-content: center;
    margin-bottom: 5rem;
    margin-right: 0;
  }
}

.btnContainer {
  display: flex;
  justify-content: space-around;

  @include respond(tab-port) {
    font-size: 2rem;
  }

  @include respond(phone) {
    height: 16rem;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}

.coffee {
  color: $color-primary-light;
  font-weight: 700;
}

.tea {
  color: $color-tertiary-light;
  font-weight: 700;
}

.beer {
  color: $color-secondary-light;
  font-weight: 700;
}
