@import '../../../../styles/variables';

.btn:link,
.btn:visited {
  text-align: center;
  width: 16rem;
  display: inline-block;
  text-decoration: none;
  padding: 3px;
  transition: all 0.4s;
  color: $white;
  border: 1px solid $white;
}

.primary {
  background-color: $color-primary-light;
}

.primary:hover {
  background-color: $color-primary;
  box-shadow: 0 0 2rem rgba($color-primary-light, 1);
  transform: translateY(-2px);
}

.secondary {
  background-color: $color-secondary-light;
}

.secondary:hover {
  background-color: $color-secondary-dark;
  box-shadow: 0 0 2rem rgba($color-secondary-light, 1);
  transform: translateY(-2px);
}

.tertiary {
  background-color: $color-tertiary-light;
}

.tertiary:hover {
  background-color: $color-tertiary-dark;
  box-shadow: 0 0 2rem rgba($color-tertiary-light, 1);
  transform: translateY(-2px);
}

.btn:active {
  box-shadow: 0 0.5rem 1rem rgba($black, 0.15);
  transform: translateY(0);
}
