@import '../../../styles/variables';
@import '../../../styles/mixins';

.skills {
  padding: 20rem 5rem;
  margin-top: -5rem;
  background-color: $grey-light-2;
}

.categories {
  display: flex;
}

.category {
  flex: 1;
  margin: 0 3rem;
  height: 60rem;
  border-radius: 5px;
  text-align: center;
  padding: 3rem;
}

.technology {
  border: 2px solid $color-primary-light;
}

.marketing {
  border: 2px solid $color-primary;
}

.personal {
  border: 2px solid $color-primary-dark;
}

.list {
  list-style: none;
}

.skill {
  border-bottom: 1px solid $color-primary;
  padding: 1rem;
}
