@import '../../../styles/variables';
@import '../../../styles/mixins';

.services {
  background-color: $grey-dark-1;
  padding: 14rem 0 16rem 0;

  @include respond(tab-port) {
    padding: 12rem 0 13rem 0;
  }

  @include respond(phone) {
    padding: 10rem 0 11rem 0;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
}
