// COLORS
$color-primary-dark: #4400ff;
$color-primary: #4854fc;
$color-primary-light: #5e96ff;
$color-primary-lightest: #a4c4ff;
$color-secondary-light: #ffb900;
$color-secondary-dark: #ff7730;

$color-tertiary-dark: #28b485;
$color-tertiary-light: #7ed56f;

$black: #000;
$grey: #777;
$grey-2: #999;
$grey-light-1: #f7f7f7;
$grey-light-2: #eee;
$grey-light-3: #99aab5;
$grey-dark-1: #2c2f33;
$grey-dark-2: #23272a;
$off-white: #ededed;
$white: #fff;
$default-font-color: #23272a;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
