// COLORS
$black: #000;

$grey: #777;
$grey-light-1: #f7f7f7;
// $grey-light-x: #99aab5;
$grey-dark-1: #2c2f33;
$grey-dark-2: #23272a;

$color-primary: #4400ff;
$color-secondary: #5e96ff;

$off-white: #ededed;
$white: #fff;

// FONT
$default-font-size: 1.6rem;

// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
