@import '../../../styles/variables';
@import '../../../styles/mixins';

.contact {
  padding: 15rem 0;
  background-image: linear-gradient(to right bottom, $color-primary-light, $color-primary-dark);

  @include respond(tab-port) {
    padding: 10rem 0;
  }
}

.container {
  max-width: 114rem;
  margin: 0 auto;

  @include respond(tab-port-large) {
    max-width: 80rem;
    padding: 0 3rem;
  }
}

.overlay {
  background-size: cover;
  background-position: center;
  backface-visibility: hidden;
  -webkit-transition: background-image 1s ease-in-out;
  transition: background-image 1s ease-in-out;
}

.contactInner {
  background-size: cover;
  background-position: center;
  border-radius: 3px;
  background-image: linear-gradient(105deg, rgba($off-white, 0.9) 0%, rgba($off-white, 0.9) 70%, transparent 50%);
  box-shadow: 0 1.5rem 4rem rgba($black, 0.2);
  transition: all 0.2s;

  @include respond(tab-port-large) {
    background-position: right;
    background-image: linear-gradient(to right, rgba($off-white, 0.9) 0%, rgba($off-white, 0.9) 100%);
  }
}

.coffee {
  background-image: url('./coffee.jpg');
}

.tea {
  background-image: url('./tea.jpg');
}

.beer {
  background-image: url('./beer.jpg');
}

.heading {
  font-size: 3.5rem;
  text-transform: uppercase;
  font-weight: 700;
  display: inline-block;
  background-image: linear-gradient(to right, rgba($color-primary, 0.8), rgba($color-primary-dark, 0.8));
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  letter-spacing: 0.2rem;
  margin-left: 0.2rem;
  transition: all 0.2s;

  @include respond(tab-port-large) {
    font-size: 3rem;
    text-align: center;
  }

  @include respond(phone) {
    font-size: 2.5rem;
    text-align: center;
  }
}

.formContainer {
  width: 70%;
  padding: 6rem;

  @include respond(tab-land) {
    width: 83%;
  }

  @include respond(tab-port-large) {
    width: 100%;
  }
}

.group:not(:last-child) {
  margin-bottom: 2rem;
}

.input {
  font-size: 1.5rem;
  font-family: inherit;
  color: inherit;
  padding: 1.5rem 2rem;
  border-radius: 2px;
  background-color: rgba($white, 0.5);
  border: none;
  border-bottom: 3px solid transparent;
  width: 90%;
  display: block;
  transition: all 0.3s;

  @include respond(tab-land) {
    width: 80%;
  }

  @include respond(tab-port-large) {
    width: 100%;
  }
}

.input:focus {
  outline: none;
  box-shadow: 0 1rem 2rem rgba($black, 0.1);
  border-bottom: 3px solid $color-primary;
}

.input:focus:invalid {
  border-bottom: 3px solid $color-secondary-dark;
}

.input::-webkit-input-placeholder {
  color: $grey-2;
}

.textArea {
  resize: none;
  height: 10rem;
}

.label {
  font-size: 1.2rem;
  font-weight: 700;
  margin-left: 2rem;
  margin-top: 0.7rem;
  display: block;
  transition: all 0.3s;
}

.input:placeholder-shown + .label {
  opacity: 0;
  visibility: hidden;
  transform: translateY(-4rem);
}

.radioGroup {
  width: 33.33333333%;
  display: inline-block;

  @include respond(phone) {
    width: 100%;
    margin-bottom: 2rem;
  }
}

.radioInput {
  display: none;
}

.radioLabel {
  font-size: $default-font-size;
  cursor: pointer;
  position: relative;
  padding-left: 5rem;
}

.radioButton {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  display: inline-block;
  position: absolute;
  left: 0;
  top: -0.4rem;
  border: 5px solid $color-primary;

  &::after {
    background-color: $color-primary;
  }
}

.radioButton::after {
  content: '';
  display: block;
  height: 1.3rem;
  width: 1.3rem;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.2s;
}

.radioInput:checked + .radioLabel .radioButton::after {
  opacity: 1;
}

.checkmark {
  margin-left: 1rem;
}
