@import '../../styles/variables';
@import '../../styles/base/animations';

.header {
  height: 95vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary, 0.8), rgba($color-secondary, 0.8)),
    url('./product.jpeg');
  background-size: cover;
  background-position: top;
  clip-path: polygon(0 0, 100% 0, 100% 85vh, 0 100%);
  position: relative;
}

.logoBox {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.logo {
  height: 5rem;
}

.title {
  text-align: center;
  font-size: $default-font-size;
  color: $white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.textBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
