@import '../../styles/variables';
@import '../../styles/mixins';

.header {
  height: 97vh;
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.8), rgba($color-primary-dark, 0.8)),
    url('./city.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

.logoBox {
  position: absolute;
  top: 3rem;
  left: 3rem;
}

.logo {
  height: 5rem;
}

.title {
  text-align: center;
  font-size: $default-font-size;
  color: $white;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 400;
  letter-spacing: 0.1rem;
}

.textBox {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  white-space: nowrap;

  @include respond(tab-port) {
    top: 35%;
  }
}
