@import '../../../styles/variables';
@import '../../../styles/mixins';

.services {
  background-color: $grey-dark-1;
  padding: 18rem 0 21rem 0;

  @include respond(tab-port) {
    padding: 15rem 0 17rem 0;
  }

  @include respond(phone) {
    padding: 10rem 0 12rem 0;
  }
}

.btnContainer {
  display: flex;
  justify-content: center;
}
