@import '../../../styles/variables';

// FUNCTIONALITY
.card {
  perspective: 150rem;
  height: 50rem;
}

.side {
  background-color: orangered;
  height: 50rem;
  transition: all 0.8s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  backface-visibility: hidden;
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 1.5rem 4rem rgba($black, 0.15);
}

.front {
  background-color: $white;
}

.back {
  transform: rotateY(180deg);
}

.primary {
  background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light);
}

.secondary {
  background-image: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light);
}

.tertiary {
  background-image: linear-gradient(to right bottom, $color-tertiary-dark, $color-tertiary-light);
}

.card:hover .front {
  transform: rotateY(-180deg);
}

.card:hover .back {
  transform: rotateY(0deg);
}

// FRONT SIDE STYLING
.picture {
  background-size: cover;
  height: 23rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
}

.dev {
  background-image: linear-gradient(to right bottom, $color-secondary-dark, $color-secondary-light),
    url(./development.jpg);
}

.design {
  background-image: linear-gradient(to right bottom, $color-primary-dark, $color-primary-light), url(./design.jpg);
}

.social {
  background-image: linear-gradient(to right bottom, $color-tertiary-dark, $color-tertiary-light), url(./social.jpg);
}

.heading {
  font-size: 2.8rem;
  font-weight: 300;
  text-align: right;
  text-transform: uppercase;
  color: $white;
  position: absolute;
  top: 12rem;
  right: 2rem;
  width: 75%;
}

.headingSpan {
  padding: 1rem 1.5rem;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
}

.primaryOpaque {
  background-image: linear-gradient(to right bottom, rgba($color-primary-light, 0.85), rgba($color-primary-dark, 0.85));
}

.secondaryOpaque {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-secondary-light, 0.85),
    rgba($color-secondary-dark, 0.85)
  );
}

.tertiaryOpaque {
  background-image: linear-gradient(
    to right bottom,
    rgba($color-tertiary-light, 0.85),
    rgba($color-tertiary-dark, 0.85)
  );
}

.details {
  padding: 3rem;
}

.list {
  list-style: none;
  width: 80%;
  margin: 0 auto;
}

.item {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.item:not(:last-child) {
  border-bottom: 1px solid $grey-light-2;
}

// BACK SIDE STYLING
// BACK SIDE STYLING
.cta {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  text-align: center;
}

.ctaBox {
  text-align: center;
  margin-bottom: 8rem;
  color: $white;
}

.ctaLabel {
  font-size: 1.4rem;
  text-transform: uppercase;
}

.ctaDescription {
  font-size: 6rem;
  font-weight: 100;
}
